# IDEA
.idea
nbproject

# Composer
#/composer.lock
/vendor/

# Symfony
/app/config/parameters.yml
/build/
/web/bundles/

# Pimcore
/var/*
!/var/classes/
/var/classes/DataObject
!/var/config
/var/config/system.php
/var/config/debug-mode.php
/var/config/maintenance.php
/var/config/tag-manager.php
/var/config/reports.php
/web/var/

# Local
#.env
!/app/config/local
/app/config/local/*
!app/config/local/.gitkeep
